{% extends 'base.html' %}

{% block content %}
		<form action="/register" method="post">
			<div class="field">
				<input class="input" id="username" name="username" type="text" placeholder="Enter A Username" required/>
		</div>
		<div class="field">
    <input class="input" id="email" name="email" type="email" placeholder="Enter A Email" required/>
</div>
<div class="field">
    <input class="input" id="pw" name="pw" type="password" placeholder="Enter A Password" required/>
</div>
<div class="field">
  <p class="control">
    <button class="button" type="submit">
      Register
    </button>
		
  </p>
</div>
</form>
{% endblock %}